<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriMateApp"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" /> <!-- Launch/Entry Activities -->
        <activity
            android:name=".LGS"
            android:exported="false" />
        <activity
            android:name=".HealthDisclaimer"
            android:exported="false" />
        <activity
            android:name=".Personalize"
            android:exported="false" /> <!-- Personalization Flow -->
        <activity
            android:name=".Name"
            android:exported="false" />
        <activity
            android:name=".how_active_ur"
            android:exported="false" />
        <activity
            android:name=".HeightActivity"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".PrimaryGoal"
            android:exported="false" />
    </application>

</manifest>