<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutrimateapp"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriMateApp"
        tools:targetApi="31">

        <!-- Launcher -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Screens -->
        <activity android:name=".Signup" android:exported="false" />
        <activity android:name=".ForgotPassword" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".Complete" android:exported="false" />
        <activity android:name=".Result" android:exported="false" />
        <activity android:name=".LogMeals" android:exported="false" />
        <activity android:name=".LGS" android:exported="false" />
        <activity android:name=".HealthDisclaimer" android:exported="false" />
        <activity android:name=".Personalize" android:exported="false" />
        <activity android:name=".Name" android:exported="false" />
        <activity android:name=".HowActiveAreYou" android:exported="false" />
        <activity android:name=".HeightActivity" android:exported="false" />
        <activity android:name=".Weight" android:exported="false" />
        <activity android:name=".PrimaryGoal" android:exported="false" />
        <activity android:name=".Sex" android:exported="false" />
        <activity android:name=".Birthday" android:exported="false" />
        <activity android:name=".LifestylePace" android:exported="false" />

    </application>

</manifest>
